body {
	background-color: #385170;
	font-family: 'lato', sans-serif;
	font-weight: 300;
	font-style: normal;
}

#root {
	position: relative;
	display: flex;
	left: -145px;
	min-width: 380px;
}

.calcBox {
	width: 357px;
	height: 450px;
	margin: 150px auto 150px 0px;
	border: 3px solid;
	border-radius: 10px;
	background-color: #9fd3c7;
	// background-color: rgb(137, 251, 209);
	z-index: 3;
}

.calcScreen {
	width: 300px;
	height: 50px;
	margin: 25px 25px 0px 25px;
	border: 1px solid;
	border-radius: 6px;
	font-size: 40px;
	padding-left: 5px;
	background-color: white;
	overflow: hidden;
}

.allButton {
	display: flex;
	position: absolute;
	top: 240px;
}

.numGrid {
	display: grid;
	grid-template-columns: 60px 60px 60px;
	grid-template-rows: 60px 60px 60px;
	margin-left: 25px;
	margin-top: 70px;
	gap: 10px;
}

.mathColumn {
	margin-left: 43px;
	z-index: 3;
}

button {
	font-family: 'lato', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	border: 1px solid;
	border-radius: 8px;
	text-align: center;
	background-color: #ececec;
	&:hover {
		transition: 0.2s;
		background-color: rgb(195, 195, 195);
	}
}

.specButton {
	position: relative;
	margin: 10px 0px 10px 25px;
	z-index: 3;
	.clearButton {
		margin-left: 3px;
	}
}

@media (max-width: 980px) {
	#root {
		flex-direction: column-reverse;
		left: 0;
	}
	.calcBox {
		margin: 150px auto 0px auto;
	}
}
